dist
node_modules
.idea
npm-debug.log
.vscode
.cert
package-lock.json
yarn-error.log

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

coverage/
reports/
