DirectoryIndex /vc4sm-frontend.html
<FilesMatch "^(de|en|)$">
    FallbackResource /vc4sm-frontend.html
</FilesMatch>

Header set Cache-Control "must-revalidate, max-age=60"
Header set Content-Security-Policy "default-src 'self' 'unsafe-eval' 'unsafe-inline' eid.egiz.gv.at analytics.tugraz.at auth-dev.tugraz.at http://localhost:8080 httpbin.org; img-src * blob: data:"

# Apache adds a "-gzip" suffix to the etag when it uses gzip but doesn't
# take that into account when receiving requests.
# See https://bz.apache.org/bugzilla/show_bug.cgi?id=45023
RequestHeader edit "If-None-Match" '^"((.*)-(gzip|br))"$' '"$1", "$2"'